.DS_Store
.idea
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local

build
cmake-build-debug
cmake-build-release
cmake-build-release-asan
cmake-build-release-tsan
cmake-build-release-ubsan
cmake-build-release-msan
cmake-build-release-gsan
cmake-build-release-lsan
cmake-build-release-tsan
cmake-build-release-ubsan
cmake-build-release-msan

build_tests/